body{
    background-color: aqua;
}
h1{
    text-align: center;
    padding: 20px;
}
.kotak{
    width: 700px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}
.img{
    width: 700px;
    height: 130px;
}
.img img{
    width: 100px;
    float: left;
    padding: auto;
    margin: 9px;
}
.identitas{
   width: 680px;
   padding: 20px;
   text-align: left;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lulusan{
    width: 600px;
    padding: 20px;
}
.lulusan ul li{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
.organisasi{
    padding: 20px;
}
.poto{
    width: 600px;
    display: inline;
    padding: 20px;
}
.poto img{
    width: 100px;
    transition: 1s;
}
.poto img:hover{
    width: 110px;
    box-shadow: 0px 0px 50px grey;
    transition: 1s;
}
.keahlian{
    width: 700px;
    padding: 20px;
    display: inline;
}
.keahlian img{
    width: 50px;
    transition: 1s;
}
.keahlian h2{
    padding: 20px;
}
.keahlian img:hover{
    width: 70px;
    box-shadow: 0px 0px 30px gray;
    transition: 1s;
}